<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: Create your Jupyter Notebook

#### Add your code below following the instructions given in the course

**Exercise 2**

#Data Science Tools and Ecosystem

**Exercise 3**

This notebook contains the final activity of the “Tools for Data Science” course, in which I will apply what I have learned.

**Objetives:**
- Popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Tools for data science
- Mathematical calculations
- Formats for text and tables in Markdown cells

**Exercise 4**

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. C++

**Exercise 5**

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-Learn

**Exercise 6**  

|Data Science Tools|  
|------------------|  
|Jupyter Notebooks|
|Apache Spark|
|Git|

**Exercise 7**

###Below are a few examples of evaluating arithmetic expressions in Python:

-2+5

(120+5)*2

150/3

**Exercise 8**

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9**

In [4]:
#It will show how many hours are equivalent to 200 minutes.
x = 200 #minutes
y = x/60 #hours
print(y, "Hours")

3.3333333333333335 Hours

**Exercise 11**

## Author

Dante Markovic C.

Copyright ©2024 IBM Corporation. All rights reserved.